# Data Cleaning

In [14]:
#Import Pertinent Libraries
import pandas as pd
import numpy as np

#Visual Libraries
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
plt.style.use('seaborn')

In [15]:
#Read csv into Pandas
df_country = pd.read_csv("Data/GlobalLandTemperaturesByCountry.csv")
df_maj = pd.read_csv("Data/GlobalLandTemperaturesByMajorCity.csv")
df_state = pd.read_csv("Data/GlobalLandTemperaturesByState.csv")
df_gt = pd.read_csv("Data/GlobalTemperatures.csv")

### Shapes

In [16]:
#Get df shapes
print(df_country.shape)
print(df_maj.shape)
print(df_state.shape)
print(df_gt.shape)

(8599212, 7)
(577462, 4)
(239177, 7)
(645675, 5)
(3192, 9)

### Is NA

In [18]:
df_country.isna().sum()

dt                                   0
AverageTemperature               32651
AverageTemperatureUncertainty    31912
Country                              0
dtype: int64

In [19]:
df_maj.isna().sum()

dt                                   0
AverageTemperature               11002
AverageTemperatureUncertainty    11002
City                                 0
Country                              0
Latitude                             0
Longitude                            0
dtype: int64

In [20]:
df_state.isna().sum()

dt                                   0
AverageTemperature               25648
AverageTemperatureUncertainty    25648
State                                0
Country                              0
dtype: int64

In [21]:
df_gt.isna().sum()

dt                                              0
LandAverageTemperature                         12
LandAverageTemperatureUncertainty              12
LandMaxTemperature                           1200
LandMaxTemperatureUncertainty                1200
LandMinTemperature                           1200
LandMinTemperatureUncertainty                1200
LandAndOceanAverageTemperature               1200
LandAndOceanAverageTemperatureUncertainty    1200
dtype: int64

### Cutoff Point 1900